# numeric

In [1]:
num=(1)
type(num)

int

In [2]:
floating=(1.9)
type(floating)

float

# declaring variable

In [3]:
sri=100
print(sri)

100

In [4]:
ai=("machine learning" ,"deep learning","neural networks")

In [5]:
ai

('machine learning', 'deep learning', 'neural networks')

In [6]:
foundation_ai=(11,12,13,14,15)
foundation_ai2=(21,22,23,24,25)
foundation_ai3=(31,32,33,34,35)

In [7]:
foundation_ai

(11, 12, 13, 14, 15)

# get input from usera as integer value using int

In [9]:
details=int(input("enter ur contact number"))

enter ur contact number8610843312

# creating two list

In [10]:
list1=[12,1.0,"sri"]
list2=[123,"atlee"]
type (list1)

list

# operations of list

In [11]:
list1.extend(list2)
print(list1)

[12, 1.0, 'sri', 123, 'atlee']

In [12]:
list1.append("ranjani")
print(list1)

[12, 1.0, 'sri', 123, 'atlee', 'ranjani']

In [13]:
list1.remove(12)
print(list1)

[1.0, 'sri', 123, 'atlee', 'ranjani']

In [14]:
list1[::2]

[1.0, 123, 'ranjani']

In [15]:
a=list1+list2
print(a)

[1.0, 'sri', 123, 'atlee', 'ranjani', 123, 'atlee']

# creating tuple

In [16]:
tuple1=("sri","ranjani",9)
type(tuple1)

tuple

In [17]:
tuple1.append("raji")

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
tuple1.count("ranjani")

1

In [19]:
tuple1[0:2]

('sri', 'ranjani')

# creating set

In [20]:
set1={"sri","ranjani",9,9}
type(set1)

set

In [21]:
set1={"sri","ranjani",9,9,22}
set2={"rathika","senthil",22,22,"twenty"}
print(set1)
print(set2)

{'sri', 'ranjani', 9, 22}
{'twenty', 'rathika', 22, 'senthil'}

In [22]:
set1.add("sri")
print(set1)

{'sri', 'ranjani', 9, 22}

In [23]:
set2.update("ammu")

In [24]:
set1.pop()

'sri'

In [25]:
print(set1)
print(set2)

{'ranjani', 9, 22}
{'rathika', 'senthil', 'u', 'twenty', 22, 'a', 'm'}

In [26]:
set1|set2

{22, 9, 'a', 'm', 'ranjani', 'rathika', 'senthil', 'twenty', 'u'}

In [27]:
set1&set2

{22}

In [28]:
set1-set2

{9, 'ranjani'}

# creating dictionaries

In [29]:
dict1=({1:"sri",2:"ranjani"})
dict2=({3:"raj",4:"sen"})
type(dict1)

dict

In [30]:
len(dict1)

2

In [31]:
 dict1[0]="srii"

In [32]:
dict1

{1: 'sri', 2: 'ranjani', 0: 'srii'}

In [33]:
 dict1.items()

dict_items([(1, 'sri'), (2, 'ranjani'), (0, 'srii')])

In [34]:
dict1.keys()

dict_keys([1, 2, 0])

In [35]:
dict1.values()

dict_values(['sri', 'ranjani', 'srii'])

In [36]:
dict1[3]="viva"
dict1

{1: 'sri', 2: 'ranjani', 0: 'srii', 3: 'viva'}

In [37]:
dict1.pop(2)

'ranjani'

In [38]:
dict2.clear()

In [39]:
dict2

{}

# conditional statement

In [40]:
s=int(input("enter number:"))
r=int(input("enter number2:"))

enter number:4
enter number2:5

# activity 1

In [41]:
if s%r==0:
    print(f"is{s} divisble by {r}")
else:
    print(f"is{s} is not divisible by {r}" )

is4 is not divisible by 5

# activity 2

In [42]:
if int(s)%2==0:
    print(f"the number {s} is divisible by 2")
else:
    print(f"{s} is not divisible by 2")

the number 4 is divisible by 2

# activity 3

In [43]:
if int(s)%2==0:
    print(f"the number {s} is even number")
else:
    print(f"{s} is odd number ")

the number 4 is even number

In [46]:
num1=int(input("enter number:"))

enter number:9

In [48]:
if num1>0:
    print(f"the given number {num1} is positive integer")
elif num1==0:
    print(f"the given number {num1} is neutral")
else :
    print(f"the given number {num1} is negative integer")

the given number 9 is positive integer

# loop

In [49]:
number1=(12,34,56,78,90)

In [50]:
number2=("sri","ranjani","senthil","murugan")

# for loop

In [63]:
for z in number1:
    print(z)

12
34
56
78
90

In [71]:
name1=[2,4,6,8]
nmae2=[56,67,88,44,77]

In [85]:
for i in name1:
    if i%2 == 0:
        print(f"the number{i} is even number")
    else:
        print(f"the number{i} is odd number" )

the number2 is even number
the number4 is even number
the number6 is even number
the number8 is even number

# while loop

In [91]:
s=input("enter a number")
val=0
i=0

while i<=int(s):
    val += i
    i += 1
    print(f"the sum of the{val}")

enter a number5
the sum of the0
the sum of the1
the sum of the3
the sum of the6
the sum of the10
the sum of the15

In [93]:
counter=0

while counter < 15:
    print("the inside loop")
    counter = counter + 1
else:
    print("the outside the loop")

the inside loop
the inside loop
the inside loop
the inside loop
the inside loop
the inside loop
the inside loop
the inside loop
the inside loop
the inside loop
the inside loop
the inside loop
the inside loop
the inside loop
the inside loop
the outside the loop

In [95]:
for val in "sriranjani":
    if val  == "a":
        break 
    print(val)
    
print("iteration is over")

s
r
i
r
iteration is over

# function

# syntax:
name(arguments,parameters)
 
def -> is used to create a function

return -> function to get a opration from urse input and give the value

# example1

In [11]:
def intro():
    print("my name is sri")

In [13]:
intro()

my name is sri

# example2

In [8]:
#function
def survial(a,b):
    return a+b

In [10]:
#main program
num1=int(input("enter the number"))
num2=int(input("enter the number"))
add=survial(num1,num2)
print(f"the sum is {add}")

enter the number25
enter the number75
the sum is 100

# algorithm

binary search

In [17]:
data=[11,22,33,44,55,66,77,88,99]

In [19]:
data.sort()
print(data)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [20]:
elem=int(input("enter the search element:"))

enter the search element:22

In [2]:
def binary_search(data,elem):
    low=0
    high=len(data)-1
    while low <= high:
        middle = (low + high)//2
    if data [middle] == elem:
        print(f"the search element {elem} is present at index value {middle} in dataset")
         break
    
    elif data[middle] > elem:
            high = middle - 1
    else:
            low = middle + 1
            if data [middle] != elem:
                print(f"the search element {elem} is not present in dataset")
            return-1

IndentationError: unexpected indent (311594558.py, line 8)